.container {
  padding: 2rem 0;
}

.title {
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 2rem;
  color: #666;
}

.gameCard {
  margin-bottom: 2rem;
}

.gameImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.viewButton {
  width: 100%;
  margin-top: 1rem;
}

